<link rel="stylesheet" href="/css/chart.css" />
<script src="/js/chart.js"></script>

<div class="container animate__animated animate__fadeIn">
    <h1 class="display-4">近期数据</h1>
    <hr/>

    <div class="row">

        <div class="col-md-6">
            <canvas id="money" class="myChart"></canvas>
        </div>

        <div class="col-md-6">
            <canvas id="product" class="myChart"></canvas>
        </div>

        <div class="col-md-6">
            <canvas id="other" class="myChart"></canvas>
        </div>

    </div>
</div>
