<script src="/js/product.js"></script>

<div class="container animate__animated animate__fadeIn">
  
  <h1 class="display-4 float-start">产品</h1>
  <button class="btn btn-primary float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="addProduct()" >新增产品</button>

  <hr/>

  <div id="products" class="row"></div>

  <div class="row">
    <ul class="pagination justify-content-center"></ul>
  </div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">产品信息</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body"></div>
</div>
