<link rel="stylesheet" href="/css/purchase.css" />
<script src="/js/purchase.js"></script>

<div class="container animate__animated animate__fadeIn">

    <h1 class="display-4 float-start">进货</h1>
    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="addOrder()">创建订单</button>

    <hr/>
    <div id="purchases" class="row"></div>

    <div id="pagination" class="row">
        <ul class="pagination justify-content-center"></ul>
    </div>
</div>