<link rel="stylesheet" href="/css/purchase.css" />
<script src="/js/purchase.js"></script>

<div class="container animate__animated animate__fadeIn">

    <h1 class="display-4 float-start">进货</h1>
    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="addOrder()">创建订单</button>

    <hr/>
    <div id="purchases" class="row"></div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">订单信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body"></div>
        </div>
    </div>
</div>