<link rel="stylesheet" href="/css/user.css" />
<script src="/js/user.js"></script>

<div class="container animate__animated animate__fadeIn">

    <h1 class="display-4 float-start">用户</h1>
    <button class="btn btn-primary float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="addUser()">新增用户</button>

    <hr/>
    <div id="users" class="row"></div>

    <div id="pagination" class="row">
        <ul class="pagination justify-content-center"></ul>
    </div>
</div>
