#title {
    padding-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: blue;
}

.sidebar {
    background-color: whitesmoke;
}

.sidebar .top-row {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: blue;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a:hover {
    background-color: blue;
    color: white;
}

@media (min-width: 892px) {

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}